<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="com.xexy.app.dao.MemberMapper">
    <!--    회원 가입-->
    <insert id="join" parameterType="MemberDto">
        insert into member
        ( m_id, m_pw, m_name, m_cell, m_email, m_zipCode, m_addr1, m_addr2, m_gender, m_birthday, m_joinDate,m_height, m_weight,m_joinChk)
        values ( #{m_id}, #{m_pw}, #{m_name}, #{m_cell}, #{m_email}, #{m_zipCode}, #{m_addr1},#{m_addr2}, #{m_gender}, #{m_birthday},now(), #{m_height}, #{m_weight},1)
    </insert>
    <select id="login" resultType="MemberDto" parameterType="MemberDto">
        select * from member
        where m_id=#{m_id}
    </select>
    <select id="idChk" parameterType="String" resultType="int">
        select count(*) from member
        where m_id=#{m_id}
    </select>
    <select id="emailChk" parameterType="String" resultType="int">
        select count(*) from member
        where m_email=#{m_email}
    </select>
    <update id="lastLogin">
        UPDATE member
        SET
        m_lastLogin = now()
        WHERE m_id=#{m_id}
            </update>
    <!-- 회원정보조회 -->
    <select id="selectMember" parameterType="String" resultType="MemberDto">
        select * from member where p_email = #{email}
    </select>

    <!-- 패스워드변경 -->
    <update id = "pwUpdate_M" parameterType="MemberDto">
        update member set m_pw=#{m_pw} where p_email= #{m_email}
    </update>
</mapper>