.log.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    z-index: 9999;
}
.log_wrap {
    margin: 0 auto;
    width: 600px;
    border: 1px solid #838383;
    margin-top: 100px;
    padding: 60px;
}
.log_header {
    height: 135px;
}
.backbtn {
    display: inline-block;
    margin: 40px 0 12px;
    padding-left: 10px;
    width: 90px;
    height: 30px;
    line-height: 28px;
    background: url(../img/loginbtn.png) no-repeat 10px;
    background-size: auto 12px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 30px;
    font-size: 13px;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
}
.log_logo {
    text-align: center;
    margin-top: 20px;
}
.log_logo img {
    display: inline-block;
    height: 25px;
}
h2 {
    margin: 40px 0;
    margin-left: 45px;
}
#userid{
    width: 480px;
    overflow: hidden;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #838383;
    border-bottom: none;
    box-sizing: border-box;
}
#userpw {
    width: 480px;
    overflow: hidden;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #838383;
    box-sizing: border-box;
}
#log_form > div {
    text-align: center;
}
input:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #838383;
    appearance: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: -2px;
}
input[type="checkbox"]:checked {
    background-color: lightgrey;
    background-image: url(../img/loginchk.png);
    background-size: 10px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
}
#log_form > button {
    width: 480px;
    height: 50px;
    margin-left: 59px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#log_form > button[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #838383;
    border: none;
    cursor: pointer;
}
.log_ft {
    font-size: 13px;
}
.log_ft a:first-child {
    margin-left: 60px;
}
.log_ft .right {
    float: right;
    margin-right: 60px;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    .log_main {
        min-width: 320px;
    }
    .log_wrap {
        width: 50%;
    }
    #userid {
        width: 100%;
    }
    #userpw {
        width: 100%;
    }
    input[type="checkbox"] {
    margin-left: 0;

    }
    #log_form > button {
        width: 100%;
        margin-left: 0;
    }
    .log_ft {
        font-size: 11px;
    }
    .log_ft a:first-child {
        margin-left: 0;
    }
    .log_ft .right {
        margin-right: 0;
    }
    h2 {
        margin-left: 0;
        text-align: center;
    }
}